<?xml version="1.0" encoding="utf-8"?>
<Unleashx>
	<Settings>
		<Preference>
			<AbortOnError>Yes</AbortOnError>
			<ContextMenu AllowUninstall="No" AllowItemEdit="No" AllowRecentList="No" LinkToSave="No" LinkToGame="No"/>
			<Skin Path="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\">NKPatcher Settings</Skin>
			<VideoSettings Soften="No" Widescreen="No" UsePAL60="No" FastRefresh="Yes" EnableTextureCompression="No" Use720P="No" Use480P="Yes" FilterLevel="0"/>
			<LiveUpdate AutoCheck="No"/>
			<AutoVideoMode MultiRegion="Off" UsePAL60="No">no</AutoVideoMode>
			<Games AutoLaunch="No"/>
			<DVD AutoLaunch="No"/>
			<AudioCD AutoLaunch="No"/>
			<EnableDriveF>Yes</EnableDriveF>
			<EnableDriveG>Yes</EnableDriveG>
			<FanSpeed>1.00</FanSpeed>
			<Use24HFormat>Yes</Use24HFormat>
			<SNTP Synchronize="Yes" HTTP="Yes" Port="80">143.210.16.201</SNTP>
			<AutoSetTime>Yes</AutoSetTime>
			<ScreenSaver Wait="300">
				<Text>2016 Softmodding Tool</Text>
			</ScreenSaver>
		</Preference>
		<Network Type="DHCP" Enable="Yes">
			<AutoDetect>yes</AutoDetect>
			<IP>192.168.1.6</IP>
			<Subnet>255.255.255.255</Subnet>
			<Gateway>192.168.1.1</Gateway>
			<DNS1>192.168.1.1</DNS1>
		</Network>
		<FTP Enable="Yes">
			<MaxUsers>10</MaxUsers>
			<AllowAnon>No</AllowAnon>
		</FTP>
		<Audio>
			<EnableSoundEffect>Yes</EnableSoundEffect>
			<Ambient>E:\UDATA\21585554\000000000000\softmod files\skin files\music\background.wav</Ambient>
			<SoundVolume>80</SoundVolume>
			<Scroll>dummy.wav</Scroll>
			<Select>dummy.wav</Select>
			<Action_Complete>dummy.wav</Action_Complete>
			<Keyboard_Stroke>dummy.wav</Keyboard_Stroke>
			<Back>dummy.wav</Back>
			<Menu_Up>dummy.wav</Menu_Up>
			<Menu_Down>dummy.wav</Menu_Down>
			<Game_Save_Select>dummy.wav</Game_Save_Select>
			<Memory_Slot>dummy.wav</Memory_Slot>
		</Audio>
		<LED>
			<Default>Red</Default>
		</LED>
	</Settings>
	<Menu>
		<List Text="Information" Sort="Off" Batch="True">
			<Item Action="MessageBox" Arg1="Information">Welcome to the NKPatcher Settings. \n\nHere you will be able to change a few of the NKPatcher functions, the LED colour of your Xbox &amp; the backing up or moving of your dashboard.</Item>
		</List>

		<Item>------------------------------------------</Item>

		<!-- --------------------------------- -->
		<!-- ------- Dashboard Section ------- -->
		<!-- --------------------------------- -->

		<List Text="Dashboards" Sort="Off">
			<List Text="Information" Sort="Off" batch="true">
				<Item Action="MessageBox" Arg1="Information">This option allows you to adjust some dashboard features.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\default.xbe">Backup, Restore or Move</Item>
			<List Text="DualBooting" Sort="Off">
				<List Text="Information" Sort="Off" Batch="True">
					<Item Action="MessageBox" Arg1="Information">This is where you can enable the dualboot dashboard feature. After you have enabled dualbooting, you must place the "Alt Dashboard" in E:\Alt Dashboard" or when selecting "Enable" I will ask you if you want it setup.</Item>
				</List>
				<List Text="Advanced Info" Sort="Off" Batch="True">
					<Item Action="MessageBox" Arg1="Info">I'm going to tell you how to setup your own dualboot path, so you can have your own custom "Alt Dashboard" location.</Item>
					<Item Action="MessageBox" Arg1="Info">With this softmod there will be a folder called "OpenDash Dualboot.settings". Inside this this folder there is a file called "Build Dualboot.settings.bat" double click this &amp; follow the on screen instructions. Yes its that simple.</Item>
				</List>
				<Item>------------------------------------------</Item>
				<List Text="Enable" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\dualboot\enabled.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\dualboot"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\dualboot\enabled.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\dualboot\dualboot.settings" arg2="C:\nkpatcher\configs\dualboot.settings"/>
					<List>
						<Item Action="AskUser" Arg1="Install?">Would you like me to install UnleashX to the Alt Dashboard location? Note: If you are using a custom "dualboot.settings" file, please select no.</Item>
						<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\unleashx.xbe" arg2="E:\Alt Dashboard\default.xbe"/>
						<Item Action="MessageBox" Arg1="Installed">UnleashX installed to \n"E:\Alt Dashboard"</Item>
					</List>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Disable" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\dualboot\disabled.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\dualboot"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\dualboot\disabled.png"/>
					<Item Action="Copy" arg1="dummy" arg2="C:\nkpatcher\configs\dualboot.settings"/>
					<Item Action="Delete" arg1="C:\nkpatcher\configs\dualboot.settings"/>
					<List>
						<Item Action="AskUser" Arg1="Remove?">Would you like me to remove the Alt Dashboard in "E" if it exists?</Item>
						<Item Action="Copy" arg1="dummy" arg2="E:\Alt Dashboard"/>
						<Item Action="Delete" arg1="E:\Alt Dashboard"/>
						<Item Action="MessageBox" Arg1="YEAH">Alt Dashboard Removed successfully.</Item>
					</List>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<Item>------------------------------------------</Item>
				<Item>Update</Item>
				<List Text="Dualboot.settings" Sort="Off" Batch="True">
					<Item Action="MessageBox" Arg1="Info">This option is for updating the dualboot.settings file, why would I need that I hear you say. Well if you change the dashboard path &amp; you disable the dualboot, when you enable the dualboot again your custom dashboard path will be lost. Using this option will allow you to disable &amp; enable the dualboot without losing your custom dashboard path.</Item>
					<Item Action="MessageBox" Arg1="Info">Please make sure you have FTP'ed over the new "dualboot.settings" file to "E", if you haven't, do so now. Because if it's not found this process will fail. Note: You will need to select the "Enable" option again to use these new settings.</Item>
					<Item Action="Rename" arg1="E:\dualboot.settings" arg2="E:\dualboot.setting">E:\dualboot.settings not found</Item>
					<Item Action="Rename" arg1="E:\dualboot.setting" arg2="E:\dualboot.settings">E:\dualboot.settings not found</Item>
					<Item Action="Copy" arg1="E:\dualboot.settings" arg2="C:\nkpatcher\configs\dualboot\dualboot.settings"/>
					<Item Action="Delete" arg1="E:\dualboot.settings"/>
					<Item Action="MessageBox" Arg1="Complete">Dualboot.settings has been updated.</Item>
				</List>
				<Item>Restore</Item>
				<List Text="Dualboot.settings" Sort="Off" Batch="True">
					<Item Action="AskUser" Arg1="Info">This will restore the stock "dualboot.settings". This will overwrite any custom "dualboot.settings" file that has been updated. Note: You will need to select the "Enable" option again to use these new settings.</Item>
					<Item Action="Format" arg1="Y"/>
					<Item Action="Unrar" arg1="E:\UDATA\21585554\000000000000\softmod files\files.rar" arg2="Y:\"/>
					<Item Action="Unrar" arg1="Y:\nkpatcher.rar" arg2="Y:\"/>
					<Item Action="Copy" arg1="Y:\nkpatcher\configs\dualboot\dualboot.settings" arg2="C:\nkpatcher\configs\dualboot\dualboot.settings"/>
					<Item Action="Format" arg1="Y"/>
					<Item Action="MessageBox" Arg1="Complete">Dualboot.settings has been restored.</Item>
				</List>
			</List>
		</List>

		<!-- --------------------------------- -->
		<!-- ------- Fan Speed Section ------- -->
		<!-- --------------------------------- -->

		<List Text="Fan Speed" Sort="Off">
			<List Text="Information" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Information">These will adjust the fan speed of your Xbox, from the Default 20% all the way up to 100% (noisy as hell)</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Default" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\default-fan.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\default-fan.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN1.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="Delete" arg1="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="30%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-30.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-30.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN1.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="40%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-40.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-40.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN2.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="50%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-50.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-50.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN3.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="60%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-60.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-60.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN4.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="70%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-70.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-70.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN5.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="80%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-80.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-80.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN6.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="90%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-90.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-90.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN7.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="100%" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-100.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\fan\fan-100.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\fan files\FAN8.bin" arg2="C:\nkpatcher\configs\FAN.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
		</List>

		<!-- ------------------------------------ -->
		<!-- ------- Kernel Fonts Section ------- -->
		<!-- ------------------------------------ -->

		<List Text="Kernel Fonts" Sort="Off">
			<List Text="Information" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Info">This menu displays what Xbox Kernel Font is enabled. This process is automated &amp; is done when the softmod is installed. You can also find "Advanced Features" at the bottom of the list.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Generic" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\generic.png"/>
			<List Text="K:1.0.3944.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.3944.1.png"/>
			<List Text="K:1.0.4034.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.4034.1.png"/>
			<List Text="K:1.0.4627.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.4627.1.png"/>
			<List Text="K:1.0.4817.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.4817.1.png"/>
			<List Text="K:1.0.5101.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.5101.1.png"/>
			<List Text="K:1.0.5530.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.5530.1.png"/>
			<List Text="K:1.0.5713.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.5713.1.png"/>
			<List Text="K:1.0.5838.1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\K.1.0.5838.1.png"/>
			<Item>------------------------------------------</Item>
			<List Text="Advanced Features" Sort="Off">
				<List Text="Information" Sort="Off" Batch="True">
					<Item Action="MessageBox" Arg1="Info">In here you can install the correct kernel font for your Xbox, or fix random crashes using the xft font delay.</Item>
				</List>
				<Item>------------------------------------------</Item>
				<List Text="Install Kernel Font" Sort="Off">
					<List Text="Information" Sort="Off" Batch="True">
						<Item Action="MessageBox" Arg1="Info">This will install the proper kernel font for your Xbox Kernel. \nPros:\n100% exploit boot compatibility. \n\nCons:\nCannot use this HDD on another kernel version.</Item>
						<Item Action="MessageBox" Arg1="Info">If you ever want to clone this HDD to another Xbox. Please restore the kernel font first, by selecting the "Restore Font" option. This is only necessary if you have used the "Install Font" option.</Item>
					</List>
					<Item>------------------------------------------</Item>
					<List Text="Install Font" Sort="Off" Batch="True">
						<Item Action="MessageBox" Arg1="Info">NKPatcher Settings will reload when the process is done. Changes will take effect on next reboot.</Item>
						<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\savemeta.xbx" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\eeprom backuperer\Update_Font.enabled"/>
						<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\eeprom backuperer\default.xbe">Restart</Item>
					</List>
					<List Text="Restore Font" Sort="Off" Batch="True">
						<Item Action="Copy" arg1="C:\NKPatcher\Configs\Fonts\generic.xtf" arg2="C:\xodash\xbox.xtf"/>
						<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font"/>
						<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font\generic.png""/>
						<Item Action="MessageBox" Arg1="Info">Changes will take effect on next reboot.</Item>
					</List>

				</List>
				<List Text="xtf Font delay" Sort="Off">
					<List Text="Information" Sort="Off" Batch="True">
						<Item Action="MessageBox" Arg1="Information">These are to be used if you are getting random crashes on boot. Start at Fix 1 &amp; then test to see if it's still crashing. If not, you're sorted.</Item>
						<Item Action="MessageBox" Arg1="Information">If you are still getting crashing after applying Fix 1, then try Fix 2 and test again &amp; if for some strange reason you are still crashing after this, buy a new Xbox.</Item>
					</List>
					<Item>------------------------------------------</Item>
					<List Text="Remove" Sort="Off" Batch="True">
						<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf"/>
						<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf"/>
						<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf"/>
						<Item Action="Copy" arg1="C:\nkpatcher\configs\fonts\s.xtf" arg2="C:\xodash\s.xtf"/>
						<Item Action="Copy" arg1="C:\nkpatcher\configs\fonts\s.xtf" arg2="C:\xodash\s2.xtf"/>
						<Item Action="Delete" arg1="C:\xodash\s.xtf"/>
						<Item Action="Delete" arg1="C:\xodash\s2.xtf"/>
						<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
					</List>
					<List Text="Fix 1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf\Sxtf-1.png">
						<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf"/>
						<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf\Sxtf-1.png"/>
						<Item Action="Copy" arg1="C:\nkpatcher\configs\fonts\s.xtf" arg2="C:\xodash\s.xtf"/>
						<Item Action="Copy" arg1="C:\nkpatcher\configs\fonts\s.xtf" arg2="C:\xodash\s2.xtf"/>
						<Item Action="Delete" arg1="C:\xodash\s2.xtf"/>
						<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
					</List>
					<List Text="Fix 2" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf\Sxtf-2.png">
						<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf"/>
						<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\font-Sxtf\Sxtf-2.png"/>
						<Item Action="Copy" arg1="C:\nkpatcher\configs\fonts\s.xtf" arg2="C:\xodash\s.xtf"/>
						<Item Action="Copy" arg1="C:\nkpatcher\configs\fonts\s.xtf" arg2="C:\xodash\s2.xtf"/>
						<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
					</List>
				</List>
			</List>
		</List>

		<!-- ---------------------------------- -->
		<!-- ------- LED Colour Section ------- -->
		<!-- ---------------------------------- -->

		<List Text="Led Colours" Sort="Off">
			<List Text="Information" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Information">These will change your front LED colour, from the Default Orange to the not so eye pleasing Christmas lights.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Orange" Sort="Off" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\orange.png">
				<Item>Orange Options</Item>
				<Item>------------------------------------------</Item>
				<List Text="Solid (Default)" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\default-led.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\orange.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\default-led.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led1.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="Delete" arg1="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Flash Slow" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-3.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\orange.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-3.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led2.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Flash Fast" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-2.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\orange.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-2.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led1.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
			</List>
			<List Text="Red" Sort="Off" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\red.png">
				<Item>Red Options</Item>
				<Item>------------------------------------------</Item>
				<List Text="Solid" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-4.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\red.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-4.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led3.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Flash Slow" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-6.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\red.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-6.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led5.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Flash Fast" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-5.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\red.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-5.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led4.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
			</List>
			<List Text="Green" Sort="Off" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\green.png">
				<Item>Green Options</Item>
				<Item>------------------------------------------</Item>
				<List Text="Solid" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-7.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\green.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-7.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led6.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Flash Slow" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-9.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\green.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-9.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led8.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Flash Fast" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-8.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\green.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-8.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led7.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
			</List>
			<List Text="Cycling" Sort="Off" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\cycle.png">
				<Item>Cycling Options</Item>
				<Item>------------------------------------------</Item>
				<List Text="Version 1" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-10.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\cycle.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-10.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led9.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
				<List Text="Version 2" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-11.png">
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\cycle.png"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-11.png"/>
					<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led10.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
					<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
				</List>
			</List>
			<List Text="Turn Off" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-12.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\led\led-12.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\led files\led11.bin" arg2="C:\nkpatcher\configs\LED.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
		</List>

		<!-- -------------------------------------- -->
		<!-- ------- Partition Type Section ------- -->
		<!-- -------------------------------------- -->

		<List Text="Partition Types" Sort="Off">
			<List Text="Information" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Information">Default:\nF takes all the space.\n\nPatition F &amp; G:\nF - 137GB / G - takes the rest.\n\nXBPartitioner:\nCustom partition table.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Default" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part\default-part.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part\default-part.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\nkpatcher\6.xbe" arg2="C:\nkpatcher\default.xbe"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="Partition F &amp; G" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part\default-FG.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part\default-FG.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\nkpatcher\67.xbe" arg2="C:\nkpatcher\default.xbe"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<List Text="XBPartitioner" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part\XBP-part.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\part\XBP-part.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\nkpatcher\6.xbe" arg2="C:\nkpatcher\default.xbe"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
		</List>

		<!-- ---------------------------------- -->
		<!-- ------- Video mode Section ------- -->
		<!-- ---------------------------------- -->

		<List Text="Video Modes" Sort="Off">
			<List Text="Information" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Information">These will force certain video modes.\n\nDefault:\nStock video mode.\n\nForce Progressive:\n480p native support.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Default" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video\default-video.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video\default-video.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\video files\VIDEO1.bin" arg2="C:\nkpatcher\configs\video files\video.bin"/>
				<Item Action="Delete" arg1="C:\nkpatcher\configs\video files\video.bin"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\dash settings\disabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\default.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\nkpatcher settings\disabled.xbe" arg2="C:\nkpatcher\rescuedash\alt xbe\install.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\nkpatcher settings\disabled.xbe" arg2="E:\UDATA\21585554\000000000000\softmod files\install.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\nkpatcher settings\disabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\resoftmod dash\files\install.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\reload nkp\disabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\reload nkp\default.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\rescuedash\disabled.xbe" arg2="C:\nkpatcher\rescuedash\default.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\resoftmod dash\disabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\resoftmod dash\default.xbe"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nI need to restart the Xbox now.</Item>
				<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\reboot xbe\default.xbe">restart</Item>
			</List>
			<List Text="Force Progressive" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video\video-prog.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video\video-prog.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\video files\VIDEO1.bin" arg2="C:\nkpatcher\configs\video files\video.bin"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\dash settings\enabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\default.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\nkpatcher settings\enabled.xbe" arg2="C:\nkpatcher\rescuedash\alt xbe\install.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\nkpatcher settings\enabled.xbe" arg2="E:\UDATA\21585554\000000000000\softmod files\install.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\nkpatcher settings\enabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\resoftmod dash\files\install.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\reload nkp\enabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\reload nkp\default.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\rescuedash\enabled.xbe" arg2="C:\nkpatcher\rescuedash\default.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\resoftmod dash\enabled.xbe" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\resoftmod dash\default.xbe"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nI need to restart the Xbox now.</Item>
				<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\reboot xbe\default.xbe">restart</Item>
			</List>
			<!-- <List Text="Force VGA" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video\video-vga.png">
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\video\video-vga.png"/>
				<Item Action="Copy" arg1="C:\nkpatcher\configs\video files\VIDEO2.bin" arg2="C:\nkpatcher\configs\VIDEO.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nI need to restart the Xbox now.</Item>
				<Item Action="Restart">restart</Item>
			</List>
		 -->
			<Item>------------------------------------------</Item>
			<Item>These Options</Item>
			<Item>Require A Restart</Item>
		</List>

		<!-- ------------------------------ -->
		<!-- ------- EEPROM Section ------- -->
		<!-- ------------------------------ -->

		<List Text="Virtual EEPROM" Sort="Off">
			<List Text="Information" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Information">This is used to protect users from toying with there EEPROM. I don't use this by default because it causes issues when trying to change a PAL/NTSC Xbox to NTSC/PAL. But it's here if you really want to use it.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Enable" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom\enabled.png">
				<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom"/>
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom\enabled.png"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\savemeta.xbx" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\eeprom backuperer\Virtual_EEPROM_Backup.enabled"/>
				<Item Action="MessageBox" Arg1="Complete">To enabled the Virtual EEPROM. I will need to restart nkpatcher settings.</Item>
				<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\eeprom backuperer\default.xbe"/>
			</List>
			<List Text="Disable" Sort="Off" Batch="True" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom\disabled.png">
				<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom"/>
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\veeprom\disabled.png"/>
				<Item Action="Copy" arg1="dummy" arg2="C:\nkpatcher\configs\eeprom.bin"/>
				<Item Action="Delete" arg1="C:\nkpatcher\configs\eeprom.bin"/>
				<Item Action="MessageBox" Arg1="Complete">Setting saved. \nChanges will take affect on next boot.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Backup EEPROM Tool" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Complete">The following: \n\nEEPROM.bin \nEEPROM.cfg \nXBOX INFO.txt \n\nwill be placed in "E:\Backups\EEPROM\", I will now restart nkpatcher settings.</Item>
				<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\eeprom backuperer\default.xbe">Restart</Item>
			</List>
		</List>

		<Item>------------------------------------------</Item>

		<!-- ----------------------------- -->
		<!-- ------- Other Section ------- -->
		<!-- ----------------------------- -->

		<List Text="Modules &amp; Settings" Sort="Off" Batch="False">
			<List Text="Information" Sort="Off" Batch="True">
				<Item Action="MessageBox" Arg1="Information">Modules:\nThese are independent apps that do specific tasks.\n\nYou can add your own by placing a module (App) in "E:\NKPatcher Settings\modules\"</Item>
			</List>
			<Item>------------------------------------------</Item>
			<List Text="Modules" Sort="Off" DelayLoad="True">
				<List Text="Built in Modules" Sort="On" DelayLoad="True">
					<Path>E:\UDATA\21585554\000000000000\nkpatcher settings\modules\</Path>
				</List>
				<List Text="User Modules" Sort="On" DelayLoad="True">
					<Path>C:\Applications\NKPatcher Settings\modules\</Path>
					<Path>E:\Applications\NKPatcher Settings\modules\</Path>
					<Path>F:\Applications\NKPatcher Settings\modules\</Path>
					<Path>G:\Applications\NKPatcher Settings\modules\</Path>
					<Path>C:\Apps\NKPatcher Settings\modules\</Path>
					<Path>E:\Apps\NKPatcher Settings\modules\</Path>
					<Path>F:\Apps\NKPatcher Settings\modules\</Path>
					<Path>G:\Apps\NKPatcher Settings\modules\</Path>
				</List>
			</List>
			<Item Action="Settings">UnleashX Settings</Item>
		</List>

		<List Text="Exit NKPatcher Settings" Sort="Off" Batch="True">
			<Item Action="AskUser" Arg1="Exit">Exit NKPatcher Settings?</Item>
			<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\reload nkp\default.xbe">Exit nkpatcher settings</Item>
		</List>

	</List>
</Menu>
</Unleashx>