<?xml version="1.0" encoding="utf-8"?>
<Unleashx>
	<Settings>
		<Preference>
			<AbortOnError>Yes</AbortOnError>
			<ContextMenu AllowUninstall="No" AllowItemEdit="No" AllowRecentList="No" LinkToSave="No" LinkToGame="No"/>
			<Skin Path="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\">NKPatcher Settings</Skin>
			<VideoSettings Soften="No" Widescreen="No" UsePAL60="No" FastRefresh="Yes" EnableTextureCompression="No" Use720P="No" Use480P="Yes" FilterLevel="0"/>
			<LiveUpdate AutoCheck="No"/>
			<AutoVideoMode MultiRegion="Off" UsePAL60="No">no</AutoVideoMode>
			<Games AutoLaunch="No"/>
			<DVD AutoLaunch="No"/>
			<AudioCD AutoLaunch="No"/>
			<EnableDriveF>Yes</EnableDriveF>
			<EnableDriveG>Yes</EnableDriveG>
			<FanSpeed>1.00</FanSpeed>
			<Use24HFormat>Yes</Use24HFormat>
			<SNTP Synchronize="Yes" HTTP="Yes" Port="80">143.210.16.201</SNTP>
			<AutoSetTime>Yes</AutoSetTime>
			<ScreenSaver Wait="300">
				<Text>2016 Softmodding Tool</Text>
			</ScreenSaver>
		</Preference>
		<Network Type="DHCP" Enable="Yes">
			<AutoDetect>yes</AutoDetect>
			<IP>192.168.1.6</IP>
			<Subnet>255.255.255.255</Subnet>
			<Gateway>192.168.1.1</Gateway>
			<DNS1>192.168.1.1</DNS1>
		</Network>
		<FTP Enable="Yes">
			<MaxUsers>10</MaxUsers>
			<AllowAnon>No</AllowAnon>
		</FTP>
		<Audio>
			<EnableSoundEffect>Yes</EnableSoundEffect>
			<Ambient>E:\UDATA\21585554\000000000000\softmod files\skin files\music\background.wav</Ambient>
			<SoundVolume>80</SoundVolume>
			<Scroll>dummy.wav</Scroll>
			<Select>dummy.wav</Select>
			<Action_Complete>dummy.wav</Action_Complete>
			<Keyboard_Stroke>dummy.wav</Keyboard_Stroke>
			<Back>dummy.wav</Back>
			<Menu_Up>dummy.wav</Menu_Up>
			<Menu_Down>dummy.wav</Menu_Down>
			<Game_Save_Select>dummy.wav</Game_Save_Select>
			<Memory_Slot>dummy.wav</Memory_Slot>
		</Audio>
		<LED>
			<Default>Green-Orange</Default>
		</LED>
	</Settings>
	<Menu>
		<List Text="Information" Sort="Off" batch="true">
			<Item Action="MessageBox" Arg1="Information">OK, here is where you can: \n\n1) Backup or Restore dashboards. \n2) Move your dashboard location. \n3) Restore to a stock UnleashX.</Item>
		</List>

		<Item>------------------------------------------</Item>

		<!-- --------------------------------------------- -->
		<!------- Backup/Restore Dashboard section ------- -->
		<!-- --------------------------------------------- -->

		<Item>Backup/Restore</Item>
		<List Text="Enter Menu" Sort="Off">
			<List Text="Information" Sort="Off" batch="true">
				<Item Action="MessageBox" Arg1="Information">Ok, here is where you can backup or restore a backup of your dashboard.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<Item>Backup</Item>
			<List Text="C:\Dashboard\" Sort="Off" batch="true" Icon="E:\Backups\Dashboards\C Dashboard\backedup.png">
				<Item Action="AskUser" Arg1="Question" arg2="Backup your C:\Dashboard. \n\nAre you sure you want this, if there is a previous backup it will be overwritten."/>
				<Item Action="Rename" arg1="C:\Dashboard\default.xbe" arg2="C:\Dashboard\default.xb">C:\Dashboard\ not installed</Item>
				<Item Action="Rename" arg1="C:\Dashboard\default.xb" arg2="C:\Dashboard\default.xbe"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\Backups\Dashboards\C Dashboard"/>
				<Item Action="Delete" arg1="E:\Backups\Dashboards\C Dashboard\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\Backups\Dashboards\C Dashboard\backedup.png"/>
				<Item Action="Copy" arg1="C:\Dashboard\" arg2="E:\Backups\Dashboards\C Dashboard\"/>
				<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard backed up to. \n\nE:\Backups\Dashboards\C Dashboard\</Item>
			</List>
			<List Text="E:\Dashboard\" Sort="Off" batch="true" Icon="E:\Backups\Dashboards\E Dashboard\backedup.png">
				<Item Action="AskUser" Arg1="Question" arg2="Backup your E:\Dashboard. \n\nAre you sure you want this, if there is a previous backup it will be overwritten."/>
				<Item Action="Rename" arg1="E:\Dashboard\default.xbe" arg2="E:\Dashboard\default.xb">E:\Dashboard\ not installed</Item>
				<Item Action="Rename" arg1="E:\Dashboard\default.xb" arg2="E:\Dashboard\default.xbe"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\Backups\Dashboards\E Dashboard"/>
				<Item Action="Delete" arg1="E:\Backups\Dashboards\E Dashboard\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\Backups\Dashboards\E Dashboard\backedup.png"/>
				<Item Action="Copy" arg1="E:\Dashboard\" arg2="E:\Backups\Dashboards\E Dashboard\"/>
				<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard backed up to. \n\nE:\Backups\Dashboards\E Dashboard\</Item>
			</List>
			<Item>Restore</Item>
			<List Text="C:\Dashboard\" Sort="Off" batch="true" Icon="E:\Backups\Dashboards\C Dashboard\backedup.png">
				<Item Action="AskUser" Arg1="Question" arg2="Restore your backup of C:\Dashboard. \n\nAre you sure you want this, if there is a dashboard in C:\Dashboard\ it will be overwritten."/>
				<Item Action="Rename" arg1="E:\Backups\Dashboards\C Dashboard\default.xbe" arg2="E:\Backups\Dashboards\C Dashboard\default.xb">No backup found.</Item>
				<Item Action="Rename" arg1="E:\Backups\Dashboards\C Dashboard\default.xb" arg2="E:\Backups\Dashboards\C Dashboard\default.xbe"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png"/>
				<Item Action="Copy" arg1="dummy" arg2="C:\Dashboard"/>
				<Item Action="Delete" arg1="C:\Dashboard\"/>
				<Item Action="Copy" arg1="E:\Backups\Dashboards\C Dashboard\" arg2="C:\Dashboard\"/>
				<Item Action="Copy" arg1="dummy" arg2="C:\Dashboard\backedup.png"/>
				<Item Action="Delete" arg1="C:\Dashboard\backedup.png"/>
				<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard restored to. \n\nC:\Dashboard\</Item>
			</List>
			<List Text="E:\Dashboard\" Sort="Off" batch="true" Icon="E:\Backups\Dashboards\E Dashboard\backedup.png">
				<Item Action="AskUser" Arg1="Question" arg2="Restore your backup of E:\Dashboard. \n\nAre you sure you want this, if there is a dashboard in E:\Dashboard\ it will be overwritten."/>
				<Item Action="Rename" arg1="E:\Backups\Dashboards\E Dashboard\default.xbe" arg2="E:\Backups\Dashboards\E Dashboard\default.xb">No backup found.</Item>
				<Item Action="Rename" arg1="E:\Backups\Dashboards\E Dashboard\default.xb" arg2="E:\Backups\Dashboards\E Dashboard\default.xbe"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\Dashboard"/>
				<Item Action="Delete" arg1="E:\Dashboard\"/>
				<Item Action="Copy" arg1="E:\Backups\Dashboards\E Dashboard\" arg2="E:\Dashboard\"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\Dashboard\backedup.png"/>
				<Item Action="Delete" arg1="E:\Dashboard\backedup.png"/>
				<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard restored to. \n\nE:\Dashboard\</Item>
			</List>
		</List>

		<!-- ----------------------------------- -->
		<!------- Move Dashboard section ------- -->
		<!-- ----------------------------------- -->

		<Item>Move Dashboard</Item>
		<List Text="Enter Menu" Sort="Off">
			<List Text="Information" Sort="Off" batch="true">
				<Item Action="MessageBox" Arg1="Information">In this menu you will be able to move your dashboard location to two different locations.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<Item>Move Dashboard</Item>
			<List Text="C Dashboard Options" Sort="Off" batch="false" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png">
				<List Text="Check Dashboard Path" Sort="Off" batch="true">
					<Item Action="MessageBox" Arg1="Question">About to check the path, to make sure a dashboard resides there.</Item>
					<Item Action="Rename" arg1="C:\Dashboard\default.xbe" arg2="C:\Dashboard\default.xb">C:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dashboard\default.xb" arg2="C:\Dashboard\default.xbe"/>
					<Item Action="MessageBox" Arg1="Success">""C:\Dashboard\" found.</Item>
				</List>
				<Item>------------------------------------------</Item>
				<List Text="E:\Dashboard\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nC:\Dashboard\ \nto \nE:\Dashboard\ \n\nAre you sure you want this, if there is a Dashboard in E:\Dashboard\ it will be overwritten."/>
					<Item Action="Rename" arg1="C:\Dashboard\default.xbe" arg2="C:\Dashboard\default.xb">C:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dashboard\default.xb" arg2="C:\Dashboard\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\Dashboard"/>
					<Item Action="Delete" arg1="E:\Dashboard\"/>
					<Item Action="Copy" arg1="C:\Dashboard\" arg2="E:\Dashboard\"/>
					<Item Action="Delete" arg1="C:\Dashboard\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to E:\Dashboard\</Item>
				</List>
				<List Text="C:\Dash\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDash.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nC:\Dashboard\ \nto \nC:\Dash\ \n\nAre you sure you want this, if there is a Dashboard in C:\Dash\ it will be overwritten."/>
					<Item Action="Rename" arg1="C:\Dashboard\default.xbe" arg2="C:\Dashboard\default.xb">C:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dashboard\default.xb" arg2="C:\Dashboard\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDash.png"/>
					<Item Action="Copy" arg1="dummy" arg2="C:\Dash"/>
					<Item Action="Delete" arg1="C:\Dash\"/>
					<Item Action="Copy" arg1="C:\Dashboard\" arg2="C:\Dash\"/>
					<Item Action="Delete" arg1="C:\Dashboard\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to C:\Dash\</Item>
				</List>
				<List Text="E:\Dash\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDash.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nC:\Dashboard\ \nto \nE:\Dash\ \n\nAre you sure you want this, if there is a Dashboard in E:\Dash\ it will be overwritten."/>
					<Item Action="Rename" arg1="C:\Dashboard\default.xbe" arg2="C:\Dashboard\default.xb">C:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dashboard\default.xb" arg2="C:\Dashboard\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDash.png"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\Dash"/>
					<Item Action="Delete" arg1="E:\Dash\"/>
					<Item Action="Copy" arg1="C:\Dashboard\" arg2="E:\Dash\"/>
					<Item Action="Delete" arg1="C:\Dashboard\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to E:\Dash\</Item>
				</List>
			</List>


			<List Text="E Dashboard Options" Sort="Off" batch="false" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png">
				<List Text="Check Dashboard Path" Sort="Off" batch="true">
					<Item Action="MessageBox" Arg1="Question">About to check the path, to make sure a dashboard resides there.</Item>
					<Item Action="Rename" arg1="E:\Dashboard\default.xbe" arg2="E:\Dashboard\default.xb">E:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dashboard\default.xb" arg2="E:\Dashboard\default.xbe"/>
					<Item Action="MessageBox" Arg1="Success">""C:\Dashboard\" found.</Item>
				</List>
				<Item>------------------------------------------</Item>
				<List Text="C:\Dashboard\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nE:\Dashboard\ \nto \nC:\Dashboard\ \n\nAre you sure you want this, if there is a Dashboard in C:\Dashboard\ it will be overwritten."/>
					<Item Action="Rename" arg1="E:\Dashboard\default.xbe" arg2="E:\Dashboard\default.xb">E:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dashboard\default.xb" arg2="E:\Dashboard\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png"/>
					<Item Action="Copy" arg1="dummy" arg2="C:\Dashboard"/>
					<Item Action="Delete" arg1="C:\Dashboard\"/>
					<Item Action="Copy" arg1="E:\Dashboard\" arg2="C:\Dashboard\"/>
					<Item Action="Delete" arg1="E:\Dashboard\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to C:\Dashboard\</Item>
				</List>
				<List Text="C:\Dash\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDash.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nE:\Dashboard\ \nto \nC:\Dash\ \n\nAre you sure you want this, if there is a Dashboard in C:\Dash\ it will be overwritten."/>
					<Item Action="Rename" arg1="E:\Dashboard\default.xbe" arg2="E:\Dashboard\default.xb">E:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dashboard\default.xb" arg2="E:\Dashboard\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDash.png"/>
					<Item Action="Copy" arg1="dummy" arg2="C:\Dash"/>
					<Item Action="Delete" arg1="C:\Dash\"/>
					<Item Action="Copy" arg1="E:\Dashboard\" arg2="C:\Dash\"/>
					<Item Action="Delete" arg1="E:\Dashboard\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to C:\Dash\</Item>
				</List>
				<List Text="E:\Dash\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDash.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nE:\Dashboard\ \nto \nE:\Dash\ \n\nAre you sure you want this, if there is a Dashboard in E:\Dash\ it will be overwritten."/>
					<Item Action="Rename" arg1="E:\Dashboard\default.xbe" arg2="E:\Dashboard\default.xb">E:\Dashboard\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dashboard\default.xb" arg2="E:\Dashboard\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDash.png"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\Dash"/>
					<Item Action="Delete" arg1="E:\Dash\"/>
					<Item Action="Copy" arg1="E:\Dashboard\" arg2="E:\Dash\"/>
					<Item Action="Delete" arg1="E:\Dashboard\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to E:\Dash\</Item>
				</List>
			</List>


			<List Text="C Dash Options" Sort="Off" batch="false" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDash.png">
				<List Text="Check Dashboard Path" Sort="Off" batch="true">
					<Item Action="MessageBox" Arg1="Question">About to check the path, to make sure a dashboard resides there.</Item>
					<Item Action="Rename" arg1="C:\Dash\default.xbe" arg2="C:\Dash\default.xb">C:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dash\default.xb" arg2="C:\Dash\default.xbe"/>
					<Item Action="MessageBox" Arg1="Success">""E:\Dashboard\" found.</Item>
				</List>
				<Item>------------------------------------------</Item>
				<List Text="C:\Dashboard\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nC:\Dash\ \nto \nC:\Dashboard\ \n\nAre you sure you want this, if there is a Dashboard in C:\Dashboard\ it will be overwritten."/>
					<Item Action="Rename" arg1="C:\Dash\default.xbe" arg2="C:\Dash\default.xb">C:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dash\default.xb" arg2="C:\Dash\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png"/>
					<Item Action="Copy" arg1="dummy" arg2="C:\Dashboard"/>
					<Item Action="Delete" arg1="C:\Dashboard\"/>
					<Item Action="Copy" arg1="C:\Dash\" arg2="C:\Dashboard\"/>
					<Item Action="Delete" arg1="C:\Dash\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to C:\Dashboard\</Item>
				</List>
				<List Text="E:\Dashboard\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nC:\Dash\ \nto \nE:\Dashboard\ \n\nAre you sure you want this, if there is a Dashboard in E:\Dashboard\ it will be overwritten."/>
					<Item Action="Rename" arg1="C:\Dash\default.xbe" arg2="C:\Dash\default.xb">C:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dash\default.xb" arg2="C:\Dash\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\Dashboard"/>
					<Item Action="Delete" arg1="E:\Dashboard\"/>
					<Item Action="Copy" arg1="C:\Dash\" arg2="E:\Dashboard\"/>
					<Item Action="Delete" arg1="C:\Dash\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to E:\Dashboard\</Item>
				</List>
				<List Text="E:\Dash\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDash.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nC:\Dash\ \nto \nE:\Dash\ \n\nAre you sure you want this, if there is a Dashboard in E:\Dash\ it will be overwritten."/>
					<Item Action="Rename" arg1="C:\Dash\default.xbe" arg2="C:\Dash\default.xb">C:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="C:\Dash\default.xb" arg2="C:\Dash\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDash.png"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\Dash"/>
					<Item Action="Delete" arg1="E:\Dash\"/>
					<Item Action="Copy" arg1="C:\Dash\" arg2="E:\Dash\"/>
					<Item Action="Delete" arg1="C:\Dash\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to E:\Dash\</Item>
				</List>
			</List>


			<List Text="E Dash Options" Sort="Off" batch="false" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDash.png">
				<List Text="Check Dashboard Path" Sort="Off" batch="true">
					<Item Action="MessageBox" Arg1="Question">About to check the path, to make sure a dashboard resides there.</Item>
					<Item Action="Rename" arg1="E:\Dash\default.xbe" arg2="E:\Dash\default.xb">E:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dash\default.xb" arg2="E:\Dash\default.xbe"/>
					<Item Action="MessageBox" Arg1="Success">""C:\Dashboard\" found.</Item>
				</List>
				<Item>------------------------------------------</Item>
				<List Text="C:\Dashboard\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nE:\Dash\ \nto \nC:\Dashboard\ \n\nAre you sure you want this, if there is a Dashboard in C:\Dashboard\ it will be overwritten."/>
					<Item Action="Rename" arg1="E:\Dash\default.xbe" arg2="E:\Dash\default.xb">E:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dash\default.xb" arg2="E:\Dash\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png"/>
					<Item Action="Copy" arg1="dummy" arg2="C:\Dashboard"/>
					<Item Action="Delete" arg1="C:\Dashboard\"/>
					<Item Action="Copy" arg1="E:\Dash\" arg2="C:\Dashboard\"/>
					<Item Action="Delete" arg1="E:\Dash\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to C:\Dashboard\</Item>
				</List>
				<List Text="E:\Dashboard\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nE:\Dashboard\ \nto \nE:\Dashboard\ \n\nAre you sure you want this, if there is a Dashboard in E:\Dashboard\ it will be overwritten."/>
					<Item Action="Rename" arg1="E:\Dash\default.xbe" arg2="E:\Dash\default.xb">E:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dash\default.xb" arg2="E:\Dash\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\Dashboard"/>
					<Item Action="Delete" arg1="E:\Dashboard\"/>
					<Item Action="Copy" arg1="E:\Dash\" arg2="E:\Dashboard\"/>
					<Item Action="Delete" arg1="E:\Dash\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to E:\Dashboard\</Item>
				</List>
				<List Text="C:\Dash\" Sort="Off" batch="true" Icon="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDash.png">
					<Item Action="AskUser" Arg1="Question" arg2="Move your dashboard from \n\nE:\Dash\ \nto \nC:\Dash\ \n\nAre you sure you want this, if there is a Dashboard in C:\Dash\ it will be overwritten."/>
					<Item Action="Rename" arg1="E:\Dash\default.xbe" arg2="E:\Dash\default.xb">E:\Dash\ not installed</Item>
					<Item Action="Rename" arg1="E:\Dash\default.xb" arg2="E:\Dash\default.xbe"/>
					<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
					<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDash.png"/>
					<Item Action="Copy" arg1="dummy" arg2="C:\Dash"/>
					<Item Action="Delete" arg1="C:\Dash\"/>
					<Item Action="Copy" arg1="E:\Dash\" arg2="C:\Dash\"/>
					<Item Action="Delete" arg1="E:\Dash\"/>
					<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard moved to C:\Dash\</Item>
				</List>
			</List>

		</List>

		<!-- -------------------------------------- -->
		<!------- Restore Dashboard section ------- -->
		<!-- -------------------------------------- -->

		<Item>Restore Dashboard</Item>
		<List Text="Enter Menu" Sort="Off">
			<List Text="Information" Sort="Off" batch="true">
				<Item Action="MessageBox" Arg1="Information">In this menu you can restore/revert to a clean UnleashX dashboard.</Item>
			</List>
			<Item>------------------------------------------</Item>
			<Item>Restore</Item>
			<List Text="C:\Dashboard\" Sort="Off" batch="true">
				<Item Action="AskUser" Arg1="Question" arg2="Restore your C:\Dashboard to its default state. \nThis is a clean install of UnleashX. \n\nAre you sure you want this, if there is a dashboard in E:\Dashboard\ and C:\Dashboard\ they will be removed overwritten."/>
				<Item Action="Copy" arg1="dummy" arg2="E:\Dashboard"/>
				<Item Action="Copy" arg1="dummy" arg2="C:\Dashboard"/>
				<Item Action="Delete" arg1="C:\Dashboard\"/>
				<Item Action="Delete" arg1="E:\Dashboard\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\skin.xml" arg2="C:\Dashboard\Skins\Softmod\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\UXSplash.jpg" arg2="C:\Dashboard\Skins\Softmod\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\skinwide.xml" arg2="C:\Dashboard\Skins\Softmod Wide\skin.xml"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\UXSplash.jpg" arg2="C:\Dashboard\Skins\Softmod Wide\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\dashboard.xbe" arg2="C:\Dashboard\default.xbe"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\dash.xml" arg2="C:\Dashboard\Config.xml"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\CDashboard.png"/>
				<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard restored to default.</Item>
			</List>
			<List Text="E:\Dashboard\" Sort="Off" batch="true">
				<Item Action="AskUser" Arg1="Question" arg2="Restore your E:\Dashboard to its default state. \nThis is a clean install of UnleashX. \n\nAre you sure you want this, if there is a dashboard in C:\Dashboard\ and E:\Dashboard\ they will be removed overwritten."/>
				<Item Action="Copy" arg1="dummy" arg2="C:\Dashboard"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\Dashboard"/>
				<Item Action="Delete" arg1="C:\Dashboard\"/>
				<Item Action="Delete" arg1="E:\Dashboard\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\skin.xml" arg2="E:\Dashboard\Skins\Softmod\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\UXSplash.jpg" arg2="E:\Dashboard\Skins\Softmod\"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\skinwide.xml" arg2="E:\Dashboard\Skins\Softmod Wide\skin.xml"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\Skins\Dashboard\UXSplash.jpg" arg2="E:\Dashboard\Skins\Softmod Wide\"/>
				<Item Action="Copy" Arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\alt xbe's\dashboard.xbe" arg2="E:\Dashboard\default.xbe"/>
				<Item Action="Copy" Arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\configs\dash.xml" arg2="E:\Dashboard\Config.xml"/>
				<Item Action="Copy" arg1="dummy" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Delete" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles"/>
				<Item Action="Copy" arg1="E:\UDATA\21585554\000000000000\nkpatcher settings\toggles\enabled.png" arg2="E:\UDATA\21585554\000000000000\nkpatcher settings\modules\dash settings\toggles\EDashboard.png"/>
				<Item Action="MessageBox" Arg1="Done">Complete. \n\nDashboard restored to default.</Item>
			</List>
		</List>

		<Item>------------------------------------------</Item>

		<!-- ---------------------------------- -->
		<!------- Exit settings section ------- -->
		<!-- ---------------------------------- -->

		<Item Action="E:\UDATA\21585554\000000000000\nkpatcher settings\unleashx.xbe" Icon="dummy.png">Back to NKPatcher Settings</Item>
	</Menu>
</Unleashx>
